# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual Studio garbage
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sln
*.suo
*.sdf
*.dir/
Testing/
Win32/
ipch/
*.psess
*.vsp

# Code::Blocks garbage
*.cbp
*.layout

# Valgrind garbage
*.out.*

# Our garbage
*~
output/
*.gz
*.3
config.h
cmake-build/
*.pdb
LICENSE.txt
CPackCustomProjectConfig.cmake
CMakeCache.txt
CMakeFiles/
CPack*
CTest*
cmake_install.cmake
*.VC.*
